@charset 'utf-8';
@import url(./my_reset.css);

.main {
  text-align: center;
  margin: 20px;
  display: flex;
  margin-left: 30%;
}

.main a {
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  /* border: 1px solid red; */
}

.main a:hover {
  background-color: brown;
  color: white;
  font-weight: bold;
}
.nav_1 {
  position: fixed;
  top: 20%;
  right: 20px;
  z-index: 100;
}

.sub {
  text-align: center;
  font-size: 12px;
  background-color: brown;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  margin: 20px;
  box-shadow: inset;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  height: 30px;
  width: 30px;
  position: absolute;
  position: fixed;
  bottom: 100px;
  right: 50px;
  border-radius: 50%;
  background-color: brown;
  border: solid brown;
  color: white;
  font-size: 10px;
  z-index: 100;
}

.sec1 {
  background-image: url(./캡처.PNG);
  background-size: cover;
  height: 600px;
}

.a2 {
  padding-top: 100px;
  padding-left: 400px;
  font-weight: bold;
}

.sec2 {
  margin-bottom: 300px;
}
.span1 {
  font-size: 30px;
  color: brown;
}

.sec2 h1 {
  margin: 100px;
  font-size: 40px;
  font-weight: bold;
  margin-left: 15%;
}

.tab_btn button {
  border: 0;
  background-color: transparent;
  display: block;
  margin: 100px;
  margin-left: 15%;
  font-size: 25px;
  font-weight: bold;
  color: rgb(160, 160, 160);
}

.slide1 {
  display: flex;
}

.tab_btn button:hover {
  color: brown;
}

.sec3 {
  background-image: url(./seed-g413da8a80_1920\ 1.png);
  height: 800px;
}
.sec3 img {
  margin-top: 100px;
}

.sec3 h1 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 100px;
  padding-left: 900px;
}

.dec_2 {
  background-color: brown;
  width: 1000px;
  height: 500px;
  margin-top: 3%;
  margin-left: 25%;
  position: relative;
}
.dec_2 img {
  position: absolute;
  margin-top: 6%;
  margin-left: 50%;
}
.dec_2 h2 {
  padding-top: 15%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 18%;
}

.dec_2 p {
  padding-top: 3%;
  text-align: center;
  font-size: 18px;
  color: white;
}

.sec4 {
  margin-top: 200px;
}

.sec4 h1 {
  font-size: 25px;
  font-weight: bolder;
  color: brown;
  margin-left: 10%;
}

.sec4 img {
  margin-top: 50px;
  margin-left: 20%;
}

.sec5 {
  margin-top: 200px;
}
.sec5 div {
  margin-left: 10%;
}
.sec5 h1 {
  font-size: 50px;
  font-weight: bold;

  padding-top: 5%;
}

.sec5 button {
  border: 0;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 900;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: -1%;
}
.sec5 img {
  margin-left: -30px;
  position: absolute;
  margin-top: 10px;
}
.sec5 ul {
  display: block;
  margin-left: 50%;
  margin-top: -300px;
  margin-bottom: 200px;
}
.sec5 span {
  color: brown;
  font-size: 17px;
  font-weight: bold;
}

.sec5 li {
  margin-top: 50px;
}

.sec5 button:hover {
  background-color: brown;
  color: white;
  border-radius: 30px;
}

.s1 {
  position: absolute;
  margin-top: -230px;
  padding-left: 300px;
}

.s2 {
  position: absolute;
  margin-top: -310px;
  padding-left: 10px;
  height: 100px;
}

footer {
  background-color: rgb(22, 22, 22);
  height: 150px;
  color: white;
  font-size: 12px;
}

.inner img {
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
}

.inner p {
  padding-top: 40px;
  padding-left: 700px;
}
